extends ../template.jade

block title
	title Html5 live preview

block description
	h1 HTML5 live preview
	p This example illustrated how dynamic previews for html5 banners can be acheived.

	p This consists of two steps. First we need to get a preview of the banner for a specific template and embed the preview into the active page. 
	
	p Secondly, we generate a form from the rules of the given template. We then bind form change events to update the preview when the form fields (texts, images, colors) are changed. This example is also using upload helpers and color pickers. 

	p The <code>getForm</code> helper function handles getting the rules for a <code>templateId</code>, as well as generating a form using the template rules. The <code>getLivePreview</code> helper function handles binding of form events, as well of getting the preview. Check the source code of the <a href="https://github.com/Raviteq/AdRapid-API-examples/blob/master/assets/helpers.js" target="_blank"><code>helpers.js</code></a> library for further details on how this is achieved.

block results
	#target
		h3 Preview

block head
	link(rel="stylesheet", type="text/css", href="../assets/lib/jquery.minicolors.css")

block scripts
	script(type="text/javascript", src="../assets/lib/jquery.minicolors.min.js")
	script(type="text/javascript", src="app.js")