extends ../template.jade

block title
  title Edit order example implementation

block description
  h1 Edit order example
  p This is a sample implementation for edit order handling
  
  .buttons-toolbar
    button#newOrder New order

  table#orders-table
    thead
      tr
        th ID
        th orderID
        th
    tbody

block form_content
  form#the_form
    #form_description
    +bar
    #form-content.row.box
    +bar

block results
  #target
    h3 Preview

block head
  link(rel="stylesheet", type="text/css", href="../assets/lib/jquery.minicolors.css")

mixin bar
  button.button.send Send order
  button.button.back Go back

block scripts
  script(type="text/javascript", src="../assets/lib/jquery.minicolors.min.js")
  script(type="text/javascript").

    // config
    var projects = []; // list of templates
    var api_key = '6271f323ff24875b74569ebc76eafa7c8ce0aa85';
    var templateId = '22bc0b7770842cc6310b25fec2346b8252f31ecf';
    var currentTemplateId = templateId;
    var globalOrderData = {}; // object representing our orders database - in a real-world scenario an actual database would be used
    var adrapid = new AdRapid(api_key); // initialize AdRapid with our API key

    // dummy order data
    var orderData = {
      1: {
        orderID: 10400,
        userID: 123,
        templateID: templateId,
      },
      2: {
        orderID: 10500,
        userID: 123,
        templateID: templateId,
      },
      3: {
        orderID: 10600,
        userID: 123,
        templateID: templateId,
      },
    };

    // initialize app
    init();

    function init() {
      adrapid.templates().then(setup_templates);
      populateData();
      populateTable();
    }

    // populate
    function populateData() {
      
      // check for localStorage data - if populated we should use those  
      if(localStorage.getItem('orders') === null) {
        localStorage.setItem('orders', JSON.stringify(orderData));
        globalOrderData = orderData;
      } else {
        globalOrderData = JSON.parse(localStorage.getItem('orders'));
      }
    }

    function populateTable() {
      $.each(globalOrderData, function(i, row) {
        addTableRow(i, row);
      });
    }

    // bind events
    // ------------------------------------------------------------

    // create a new order
    $('#newOrder').on('click', function() {
      $('.template').show();
      $('#orders-table, .buttons-toolbar, #description p').hide();
    });

    // edit orders
    $('tbody .edit_order').on( "click", function() {
      editOrder($(this).attr('data-orderID'));
    });

    // remove orders
    $('.remove_order').on('click', function(event) {
      event.preventDefault();
      removeOrder($(this).attr('data-orderID'));
    });

    // hide some elements initially
    $('#the_form button, #form').hide();


    // addiational order helpers
    // ------------------------------------------------------------

    function setup_templates(templates) {
      $.each(templates, function(i, data) {
        projects[data.identifier] = data.templateId; // add project API key to array of available projects
        $('#templates').append('<div class="template hide" name="' + data.identifier + '"><img src="' + data.thumbnail + '" style="width: 100%; " title="' + data.name + '" /></div>'); // append template to UI
      });
      bind_buttons(); // setup click events
    }

    function bind_buttons() {

      // load html5 live preview
      $('.template').click(function(event) {
        $('#form, #templates').toggle();
        $('#target').html('<h3>Loading..</h3>');
        template_key = projects[$(this).attr('name')];
        currentTemplateId = template_key;
        loadForm(template_key);
      });
      
      // when the form is submitted, handle sending the order to AdRapid
      $('.send').on('click', function(event) {
        event.preventDefault();
        sendOrder().then(createOrder);
      });

      // handle back button
      $('.back').on('click', function(event) {
        event.preventDefault();
        $('#form, #templates').toggle();
      });

    }

    // send order to AdRapid
    // TODO: maintain correct templateId;
    function sendOrder(templateId) {
      if(!templateId) templateId = currentTemplateId;
      
      var order             = $('form#the_form').serializeObject();
          order.templateId  = templateId;

      return adrapid.sendOrder(order);
    }

    // watch order helper function
    function watchOrder(order, options) {

    }

    // add a new order to our orders object, update our dv
    function createOrder(order, templateId) {

      // hide form, show orders table
      $('#templates, #orders-table').show();
      $('#form').hide();
      
      // setup watch event for the order
      helpers.watchOrder(order);
      
      // add the order to our orders object/"db"
      var newId = Object.keys(globalOrderData).length + 1;
      globalOrderData[newId] = {
        orderID: order.order_id,
        userID: 123,
        templateID: templateId,
      };

      // update the db/localStorage
      updateDb();

      // add row to the orders table
      addTableRow(newId, globalOrderData[newId]);
    }

    // edit an existing order
    function editOrder(orderID) {

      // get the order data for our local orderID
      var orderData = globalOrderData[orderID]; 
      currentTemplateId = orderData.templateID;

      // fetch the form for the selected template of the order.
      // the form will contain the default data
      loadForm(orderData.templateID, function() {

        // get the data used for the order
        adrapid.getOrderData(orderData.orderID).then(function(orderData) {
          
          // update the form fields with the values stored 
          // in the order data of the selected order
          $.each(orderData, function(key, val) {
            $('input[name=' + key + ']').val(val);
          });

          // bind save order event
          bindEditOrderActions(orderData, orderID);
        });
      });
    }
    
    function bindEditOrderActions(orderData, orderID) {
      $('.send').off().on('click', function(e) {
        e.preventDefault();
        console.log('Send EDIT order!');
        
        // hide form, show orders table
        $('#templates, #orders-table').show();
        $('#form').hide();
            
        // send the order to adrapid
        sendOrder().then(function(orderData) {
          
          // update the orders table for this order
          $('td#order-' + orderID + '-orderId').text(orderData.order_id);

          // update the db
          globalOrderData[orderID].orderID = orderData.order_id; // set the new orderID
          updateDb();

          return orderData;
        })
        .then(helpers.watchOrder);
      });
    }

    function removeOrder(orderID) {
      delete globalOrderData[orderID]; // delete from localStorage
      updateDb(); // update the database
      $('tr#order-' + orderID).remove(); // delete from orders table
    }

    function updateDb() {
      localStorage.setItem('orders', JSON.stringify(globalOrderData));
    }

    // generated a order form for a tempalte
    function loadForm(template, callback) {
      $('#templates, #form').toggle();
      $('#target').html('loading....');
      
      // get the rules for the template
      adrapid.rules(template).then(function(rules) {

        // build the form using helper function
        helpers.buildForm(rules, template, {
          selector: '#form-content',
          complete: function(data) {
            $('.loader').fadeOut();
            $('#the_form button, #form').show();
            $('.form_placeholder, #templates').hide();

            // append the live preview
            getLivePreview(template);

            if(callback) callback();
          }
        });
      });
    }

    function getLivePreview(template_key) {
      helpers.template_key = template_key;      // store template key in helpers object.. secret fix
      helpers.getLivePreview(template_key);     // get the live preview, bind form events
    }

    function log(content) {
      console.log(content);
      return content;
    }

    function addTableRow(i, row) {
      $('tbody').prepend('<tr id="order-' + i + '">' +
        '<td>' + i + '</td>' +
        '<td id="order-' + i + '-orderId">' + row.orderID + '</td>' + 
        '<td>' + 
          '<a href="#" class="button edit_order small" data-orderID="' + i + '">Edit</a>' +
          '<a href="#" class="button remove_order small" data-orderID="' + i + '">Remove</a>' +
          '<a href="http://test.adrapid.com/downloads/zip/' + row.orderID + '" class="button download_order small" data-orderID="' + i + '">Download</a>' + 
        '</td>' +
      '</tr>');
    }