/*
 * config
 */
backgroundColor = #121212
secondaryColor 	= #313131
borderColor 		= #aaa
textColor 			= #eee
altTextColor 		= #333


/*
 * imports
 */
@import './mixins'
@import './reset'
@import './forms';
@import './elements'
@import './ui';
@import './fixes';