/*
 * config
 */
backgroundColor = #121212
secondaryColor 	= #313131
borderColor 		= #aaa
textColor 			= #444
altTextColor 		= #333
highlightColor  = #777

/*
 * imports
 */
@import './mixins'
@import './reset'
@import './typography'
@import './forms';
@import './buttons';
@import './elements'
@import './ui';
@import './effects';
@import './fixes';
@import './alt';
// @import './debug';