// buttons.styl


button, .button
	border none // borderColor
	background-color green !important
	color white
	display inline-block
	position relative
	overflow hidden
	font-size 112%
	line-height normal
	vertical-align baseline
	text-align center
	cursor pointer
	padding 0.7em .8em
	text-decoration none
	text-transform lowercase
	outline 0
	transition all 240ms cubic-bezier(0.250, 0.460, 0.450, 0.940)
	margin 20px 0

	&:hover
		background black 

	
.button.small
	padding .4em .6em
	font-size 88%