/*
 * forms
 */
#form label
	width 100%
	color altTextColor
	
form input, #form input

input,
select
	width 100%
	color #555
	background white
	border 1px solid borderColor
	padding .6em .4em

#label, h3
	color #333
	
#form .images
	display flex

label.inline-label
	border 1px solid blue !important
