// mixins
valign()
  display flex
  align-items center
  justify-content center

background-linear-gradient(startColor, endColor)
  background-color startColor
  background-image linear-gradient(startColor, endColor)  

bordered()
 border 1px solid borderColor