// mixins

gradient(startColor, endColor)
  background-color startColor
  background-image linear-gradient(startColor, endColor)
  
valign()
  display flex
  align-items center
  justify-content center

background-linear-gradient(startColor, endColor)
  background-color startColor
  background-image linear-gradient(startColor, endColor)  

bordered()
 border 1px solid borderColor

inline-border(color)
  box-shadow 1px 1px 0px color