/* 
 * reset
 */
html, body, div
	margin 0
	padding 0
	
body
	font 122%/148% helvetica, arial, sans-serif;
	color textColor

img 
	width 100%
	height auto
	padding 0


/*
 * helper classes
 */
.centered
	position absolute;
	top 0px
	left 0px
	bottom 0px
	right 0px
	
.hidden,
::-webkit-scrollbar 
	display none !important